main {
    padding: 1rem;
}

#visit-message {
    background: #f3f3f3;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

#places {
    display: grid;
    gap: 1rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background: white;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card button {
    margin-top: 1rem;
    padding: .75rem;
    cursor: pointer;
}